.card {
    width: 100%;
    height: 100vh;
    text-align: center;
    opacity: .8;
    text-align: center;
    overflow: auto;
    position: relative;
    z-index: 0;
    overflow-x: hidden;

    /* overflow: hidden; */
    /* z-index: -1; */
    /* overflow: hidden; */
    /* position: relative; */
}

.cardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    /* position: absolute; */
    /* backdrop-filter: blur(5px); */
    top: 20%;
    font-style: italic;
    font-size: 2rem;
    /* right: 3%; */
    /* border: 5px solid #ba0a1c; */
}


img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media(max-width:800px) {
    .cardTitle {
        padding-top: 50px;
    }

    .cardImg {
        padding-top: 11%;
        width: 100%;
        top: 50%;
        left: 0;
        height: 50%;
        top: 50%;
    }

    img {
        width: 70%;
        /* transform: scale(1.1) */
    }

    .card {
        margin-top: 3rem;
    }
}



.cardButton {
    width: 30%;
    height: 10%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 10%;
    /* right: 7%; */
    box-shadow: 7px 0 rgb(195, 23, 23) inset, -7px 0 rgb(141, 5, 5) inset;
    backdrop-filter: blur(3px);
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 0;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}