.container {
    margin-left: 32.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.container select {
    border-radius: .4rem;
    margin: 0 .5rem;
    padding: .2rem 0.3rem;
    background-color: var(--bg-color);
    color: #fff;
    font-weight: 600;
    cursor: pointer;


}

@media(max-width:800px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    .container select {
        margin: .2rem 0;
    }

}